/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
h1 {
  color: #d62828;
  font-size: 250%;
}
h2, h3 {
  color: #f77f00;
  font-weight: lighter;
}
body {
  margin: 2em;
  background-color:#003049;
}
body, input[type="text"], button {
  color: #f77f00;
 }
button {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
button:hover {
  background-color: black;
  color: white;
}
button:disabled {
  background-color: #eee;
  color: #fcbf49;
  cursor: auto;
}

/* everywhere else */
* {
  font-family: Helvetica, sans-serif;
}